
<!DOCTYPE html>
<html>

<head>
    <title>Foodfy</title>
   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    
</head>

<body>
    <header>
        <div class="links">
            <a href="index">
                <img class="logo-texto" src="./imagem/logofoodfy.png" alt="logofoodfy">
            </a>
            <div>
                <a class="link-menu" href="sobre">Sobre</a>
                <a class="link-menu" href="receita">Receitas </a>
            </div>
        </div>
    </header>
    {% block content %} {% endblock%}
    </body>
</html>
