
   {%extends "layout.njk"%}

   {% block content %}
    <link rel="stylesheet" href="sobre.css">
    <div class="mycontainer">
        <div class="selection-content">
            <div class="block-content">
                <h1 class="title-content">Sobre o Foodfy</h1>
                <div class="content-itens">
                    <div class="iten-content">
                        <p class="primeiro-paragrafo">Suspendisse placerat neque neque. Morbi dictum nulla non sapien
                            rhoncus, et mattis erat commodo. Aliquam vel lacus a justo mollis luctus. Proin vel auctor
                            eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada facilisis magna,
                            vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam
                            iaculis massa. Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta
                            tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex, semper vitae
                            eros ut, euismod convallis augue.
                            Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                            accumsan. Proin ligula lectus, rutrum vel nisl quis, eﬃcitur porttitor nisl. Morbi ut
                            accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi
                            cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque,
                            vulputate semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies
                            euismod.
                        </p>
                        <br />
                        <p class="segundo-paragrafo">Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque
                            pulvinar mollis ipsum ut accumsan.
                            Proin ligula lectus, rutrum vel nisl quis, eﬃcitur porttitor nisl. Morbi ut accumsan felis,
                            eu ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis
                            feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci
                            et, malesuada sodales eros
                            Nunc ut nulla faucibus enim ultricies euismod.
                        </p>
                        <h4 class="title-content">Como tudo começou</h4>
                        <div class="content-itens">
                            <div class="iten-content">
                                <p class="primeiro-paragrafo">Suspendisse placerat neque neque. Morbi dictum nulla non
                                    sapien rhoncus, et mattis erat commodo. Aliquam vel lacus a justo mollis luctus.
                                    Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris
                                    malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc,
                                    interdum in erat placerat, aliquam iaculis massa. Duis vulputate varius justo
                                    pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices
                                    turpis, non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis
                                    augue.
                                    Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis
                                    ipsum ut accumsan. Proin ligula lectus, rutrum vel nisl quis, eﬃcitur porttitor
                                    nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et
                                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at
                                    accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. Nunc
                                    ut nulla faucibus enim ultricies euismod.
                                </p>
                                <br />
                                <p class="segundo-paragrafo">Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan.
                                    Quisque pulvinar mollis ipsum ut accumsan.
                                    Proin ligula lectus, rutrum vel nisl quis, eﬃcitur porttitor nisl. Morbi ut accumsan
                                    felis, eu ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus
                                    facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque,
                                    vulputate semper orci et, malesuada sodales eros
                                    Nunc ut nulla faucibus enim ultricies euismod.
                                </p>
                            </div>

                            <h4 class="title-content">Nossas receitas</h4>
                            <div class="content-itens">
                                <div class="iten-content">
                                    <p class="primeiro-paragrafo">Suspendisse placerat neque neque. Morbi dictum nulla
                                        non sapien rhoncus, et mattis erat commodo. Aliquam vel lacus a justo mollis
                                        luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt
                                        risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu.
                                        Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. Duis
                                        vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta
                                        tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex,
                                        semper vitae eros ut, euismod convallis augue.
                                        Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar
                                        mollis ipsum ut accumsan. Proin ligula lectus, rutrum vel nisl quis, eﬃcitur
                                        porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt
                                        arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec
                                        nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada
                                        sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
                                    </p>
                                    <br />
                                    <p class="segundo-paragrafo">Fusce nec pulvinar nunc. Duis porttitor tincidunt
                                        accumsan. Quisque pulvinar mollis ipsum ut accumsan.
                                        Proin ligula lectus, rutrum vel nisl quis, eﬃcitur porttitor nisl. Morbi ut
                                        accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et posuere ligula.
                                        Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec
                                        libero neque, vulputate semper orci et, malesuada sodales eros
                                        Nunc ut nulla faucibus enim ultricies euismod.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Todos os direitor reservados. Foodfy Receitas</p>
    </footer>
{% endblock %}